<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">&copy; 2019 {{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
	      <li>Phone: <a href="tel:0916539229" target="_blank">0916 539 229</a></li>
              <li>Email: <a href="mailto:baphong80@gmail.com" target="_blank">baphong80@gmail.com</a></li>
              <li>Facebook: <a href="https://www.facebook.com/huy.hoanh.125/" target="_blank">/huy.hoanh.125</a></li>
	      <li>Địa chỉ: <a href="https://goo.gl/maps/yrwc5i7zyhG4t8c58" target="_blank">Google Map</a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>bây giờ là web cua hh rồi .</p>
        </div>
      </div>
  
    </div>
  
  </footer>
